h1, h5 {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 15px;
  }
  
  .title-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 15px;
    margin: 25px auto;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  app-calc {
    color: #1e7bda;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
  }